
.img-home{
    max-width: 100%;
    height: 311px;
    width: 100%;
    background-repeat: no-repeat;
    object-fit:cover;
    background-image: url('https://cloudfront-us-east-1.images.arcpublishing.com/copesa/BJR47U2GXRCFZFOAZH55MXUITE.jpg');
}
h1,h3 {
    line-height: 100px !important;
    text-align: center; 
    text-shadow: 2px 0 rgb(121, 117, 117), -2px 0 rgb(121, 117, 117), 0 2px rgb(121, 117, 117), 0 -2px rgb(121, 117, 117),
                 1px 1px rgb(121, 117, 117), -1px -1px rgb(121, 117, 117), 1px -1px rgb(121, 117, 117), -1px 1px rgb(121, 117, 117);
  }
  .contenedorCard{
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
  }
  button{
    width: 120px;
    margin-left: 5px !important;
  }
  ul{list-style: none !important;}
  li{list-style: none !important;}